<!DOCTYPE html>
<html>
<head>
<meta charset=utf-8 />
<title>Archer | Map</title>
<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
<script src='https://api.mapbox.com/mapbox.js/v2.3.0/mapbox.js'></script>
<link href='https://api.mapbox.com/mapbox.js/v2.3.0/mapbox.css' rel='stylesheet' />
<script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src="js/jquery-1.9.1.min.js" charset="utf-8"></script>
<link href='css/main.css' rel='stylesheet' />
<script src="js/main.js" charset="utf-8"></script>

<style>
  body { margin:0; padding:0; }
  #map { position:absolute; top:0; bottom:0; width:100%; }
</style>
</head>
<body>
<div id= 'map'></div>
<div id = "layer_legend">
  <ul>walking
    <div class = "legendline walk_lgd"></div>
  </ul>
  <ul>transport
    <div class = "legendline tran_lgd"></div>
  </ul>
  <ul>cycling
    <div class = "legendline cyc_lgd"></div>
  </ul>

</div>

<div id = "copyright">
  © 2015 Wenzhe Peng | Yu Zheng
</div>

<script>

$(document).ready(function(){
  run();
});

</script>
</body>
</html>